.earning-stars {
  background-color: var(--beige);
  padding: 2rem;
}

.earning-stars-text {
  max-width: 650px;
  margin: auto;
  margin-bottom: 3rem;
  text-align: center;
}
.earning-stars-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -10rem;
}

.earning-stars-content-section {
  display: flex;
  padding: 2.5rem 3rem 0rem 3rem;
}
.earning-stars-content-section-title {
  font-size: 1.5rem;
  font-family: "sodo-sans-semi-bold";
}
.earning-stars-content-section-text {
  font-size: 1.1rem;
}
.earning-stars-content-subsection {
  display: flex;
  padding: 0rem 3rem;
}

.earning-stars-content-subsection-item {
  max-width: 275px;
  padding: 0rem 1rem;
}

.earning-stars-content-subsection-title {
  font-size: 1.2rem;
  font-family: "sodo-sans-semi-bold";
  margin-bottom: 1rem;
}

.earning-stars-content-box {
  display: flex;
}

@media (max-width: 1400px) {
  .earning-stars-content {
    margin-left: 0rem;
  }
}
@media (max-width: 1050px) {
  .earning-stars-content-section {
    flex-direction: column;
  }
  .earning-stars-content-subsection {
    padding: 0rem;
  }
  .earning-stars-content-section-text {
    margin-bottom: 2rem;
  }
  .earning-stars-content-section-title {
    font-size: 1.1rem;
    font-family: "sodo-sans-semi-bold";
  }
  .earning-stars-content-section-text {
    font-size: 1rem;
  }
  .earning-stars-content-subsection-title {
    font-size: 1.1rem;
  }
}
@media (max-width: 768px) {
  .earning-stars-content-box {
    flex-direction: column;
  }
  .earning-stars-content-subsection {
    padding: 1.5rem 0rem;
  }
  .earning-stars-content-subsection-item {
    max-width: 100%;
  }
  .earning-stars-content-section {
    padding: 0rem;
  }
  .earning-stars-content {
    align-items: normal;
  }
}
