.endless-extras {
  text-align: center;
  padding-bottom: 5rem;
}

.endless-extras-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.endless-extras-subsection {
  max-width: 375px;
  margin: 2rem;
  margin-bottom: 10rem;
}

.endless-extras-title {
  margin-top: 8rem;
  font-size: 1.8rem;
  font-family: "sodo-sans-semi-bold";
}

.endless-extras-text {
  max-width: 700px;
  margin: auto;
  margin-bottom: 3rem;
  font-size: 1.1rem;
}

.endless-extras-subsection-text {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .endless-extras-title {
    margin-top: 5rem;
  }
  .endless-extras-section {
    flex-direction: column;
  }
  .endless-extras-subsection {
    max-width: 100%;
    margin: 0rem;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 0.8rem;
  }
}
